<div class="page-content-wrapper">
  <!-- BEGIN CONTENT BODY -->
  <div class="page-content">
    <div class="page-head">
      <!-- BEGIN PAGE TITLE -->
      <div class="page-title">
        <h1> {{produkDetail.namaProduk}}
        </h1>
      </div>
    </div>
    <ul class="page-breadcrumb breadcrumb">
      <li>
        <span class="active">PATRIA</span>
        <i class="fa fa-circle"></i>
      </li>
      <li>

        <a [routerLink]="['/produk']">Produk</a>
        <i class="fa fa-circle"></i>
      </li>
      <li>
        <span class="active">Detail Produk</span>
      </li>
    </ul>
    <div class="row">
      <div class="col-md-12">
        <div class="portlet light bordered">
          <div class="portlet-title">
            <div class="caption">
              <i class="fa fa-cog" aria-hidden="true"></i> Detail Produksi</div>
            <div class="actions">
            </div>
          </div>
          <div class="form-horizontal" role="form">
            <div class="form-body">
              <div class="row">
                <div class="col-md-12">
                  <fieldset>
                    <Legend>Detail Produk</Legend>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="col-md-5 control-label">ID Produk</label>
                        <div class="col-md-7">
                          <input type="text" class="form-control input-inline input-medium" placeholder="" readonly
                            [(ngModel)]="produkDetail.namaProduk">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-5 control-label">Nama Produk</label>
                        <div class="col-md-7">
                          <input type="text" class="form-control input-inline input-medium" placeholder="" readonly
                            [(ngModel)]="produkDetail.namaProduk">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="col-md-5 control-label">Tanggal Deadline Produk</label>
                        <div class="col-md-7 input-inline">
                          <p class="form-control-static">
                            {{produkDetail.tanggalAkhir | date:'dd-MM-yyyy'}} </p>
                          <!-- <input type="date" class="form-control input-inline input-medium"
                                                        placeholder="" readonly [(ngModel)]="produkDetail.tanggalAkhir"> -->
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="col-md-5 control-label">Kuantitas</label>
                        <div class="col-md-7">
                          <p class="form-control-static"> {{kuantitas}}
                          </p>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-12">
                  <fieldset>
                    <Legend>Komponen <button (click)="modal.show()" style="padding-top: 3px;
                                            padding-bottom: 3px;" class="btn btn-info pull-right">+ Tambah
                        Komponen</button></Legend>
                    <div class="table-responsive">
                      <table class="table table-striped table-bordered table-advance table-hover" id="sample_1">
                        <tr>
                          <th class="text-center">Nama Komponen</th>
                          <th class="text-center">Kuantitas</th>
                          <th class="text-center">Nama Bagian</th>
                          <th class="text-center">Prioritas</th>
                          <th class="text-center">Status</th>

                        </tr>
                        <tr *ngFor="let item of data; index as i" [ngClass]="''">
                          <td class="text-center">
                            <button style="width: 60%;" class="btn yellow-mint btn-outline btn-xs uppercase"
                              (click)="onDetailPage(item.namaKomponen)">
                              {{item.namaKomponen}}
                            </button>
                          </td>
                          <td class="text-center">
                            {{item.kuantitas}}
                          </td>
                          <td class="text-center">
                            {{item.namaBagian}}
                          </td>
                          <td class="text-center">
                            {{item.prioritas}}
                          </td>
                          <td class="text-center">
                            <span *ngIf="!item.aktif" class="badge badge-danger">
                              TIDAK AKTIF
                            </span>
                            <span *ngIf="item.aktif" class="badge bg-green-jungle">
                              AKTIF
                            </span>
                          </td>
                        </tr>

                      </table>
                      <div class="btn-group pull-left">
                        <button class="btn btn-info" [disabled]="page==0" (click)="setPage(-1)"><i _ngcontent-c10=""
                            class="fa fa-angle-double-left"></i></button>
                        <button class="btn btn-info">{{page+1}} / {{maxPage}} Pages</button>
                        <button class="btn btn-info" [disabled]="page==maxPage-1" (click)="setPage(1)"><i
                            _ngcontent-c10="" class="fa fa-angle-double-right"></i></button>
                      </div>
                      <div class="btn-group pull-right">
                        <button class="btn btn-info" (click)="setPaging(5)">5</button>
                        <button class="btn btn-info" (click)="setPaging(10)">10</button>
                        <button class="btn btn-info" (click)="setPaging(25)">25</button>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-12">
                  <fieldset>
                    <Legend>Proses Komponen
                      <button data-toggle="modal" data-target="#modaledit" style="padding-top: 3px;
                                            padding-bottom: 3px;" class="btn btn-info pull-right"
                        *ngIf="prosesKomponen.length!=0">Edit</button>
                    </Legend>
                    <div *ngIf="prosesKomponen.length==0 && !isClickDetail" class="">BELUM DATA ADA
                      TERPILIH</div>
                    <div *ngIf="prosesKomponen.length==0 && isClickDetail" class="">TIDAK ADA PROSES
                      PADA KOMPONEN</div>
                    <div *ngIf="prosesKomponen.length!=0" class="col-md-12">
                      <table class="table table-striped table-bordered table-advance table-hover" id="sample_1">
                        <tr>
                          <th class="text-center" colspan="6">{{prosesKomponen[0].komponen.namaKomponen}}</th>
                        </tr>
                        <tr>
                          <th></th>
                          <th class="text-center">No.</th>
                          <th class="text-center">Nama Proses</th>
                          <th class="text-center">Nama Alat</th>
                          <th class="text-center">Waktu Mulai</th>
                          <th class="text-center">Waktu Selesai</th>
                          <th class="text-center">Status</th>

                        </tr>
                        <tr *ngFor="let item of detailProsesKomp; index as i" [ngClass]="''">
                          <td class="text-center">
                            <input type="checkbox" [(ngModel)]="item.checked" (click)="putItem(item)">
                          </td>
                          <td class="text-center">
                            {{i+1}}
                          </td>
                          <td class="text-center">
                            {{item.proses.namaProses}}
                          </td>
                          <td class="text-center">
                            {{item.alat.namaAlat}}
                          </td>
                          <td class="text-center">
                            {{item.assignDate | date:'yyyy-MM-dd hh:mm:ss'}}
                          </td>
                          <td class="text-center">
                            {{item.assignEnd | date:'yyyy-MM-dd hh:mm:ss'}} </td>
                          <td class="text-center">
                            <span *ngIf="item.isProses == 0" class="badge badge-danger">
                              BELUM DIPROSES
                            </span>
                            <span *ngIf="item.isProses == 1" class="badge bg-green-jungle">
                              SELESAI
                            </span>
                            <span *ngIf="item.isProses == 2" class="badge bg-green-jungle">
                              PENDING
                            </span>
                          </td>
                        </tr>
                      </table>
                      <div class="btn btn-group">
                        <button class="btn btn-info" [disabled]="detailPageProsKomp==0" (click)="setPageKomponen(-1)"><i
                            _ngcontent-c10="" class="fa fa-angle-double-left"></i></button>
                        <button class="btn btn-info" [disabled]="detailPageProsKomp==kuantitas-1"
                          (click)="setPageKomponen(1)"><i _ngcontent-c10=""
                            class="fa fa-angle-double-right"></i></button>
                      </div>
                      <div class="pull-right">
                        {{itemEdit.length}} terpilih
                        <button class="btn btn-info" data-toggle="modal" data-target="#modalProsesKomp" [disabled]="itemEdit.length==0">Ubah Status</button>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="portlet-body">
              <div class="form-inline" role="form">
                <div class="form-group">
                  <label class="sr-only">Nama Produk</label>
                  <input type="text" class="form-control input-sm" id="namaProduk" placeholder="Nama Produk"
                    omitSpecialChar>
                </div>
                <div class="form-group">
                  <label class="sr-only">Deadline Produk</label>
                  <input type="text" class="form-control input-sm" id="deadlineProduk" placeholder="Deadline Produk">
                </div>
  
              </div>
              <br /> -->

          <!--  -->
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" bsModal #modal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
      aria-hidden="true" (onShown)="handlerModal('onShown', $event)" (onHidden)="handlerModal('onHidden', $event)">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <!-- <button type="button" class="close" aria-hidden="true"></button> -->
            <h4 class="modal-title">Tambah Komponen</h4>
          </div>
          <div class="modal-body">
            <div class="form-horizontal" role="form">
              <div class="form-body">

                <div class="form-group">
                  <label class="col-md-4 control-label">Metode Input</label>
                  <div class="col-md-8">
                    <select class="form-control" [(ngModel)]="metode">
                      <option [value]="'MANUAL'">MANUAL</option>
                      <option [value]="'UPLOAD'">UPLOAD</option>
                    </select>
                  </div>
                </div>

                <div class="form-group" *ngIf="metode=='MANUAL'">

                </div>
                <div class="form-group" *ngIf="metode=='UPLOAD'">
                  <div class="col-md-12">
                    <input type="file" (change)="onFileChange($event)" id="input" />
                    <p *ngIf="errorUpload" style="color: red;">{{pesanErrorUpload}}</p>
                  </div>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn dark btn-outline" data-dismiss="modal"
                    (click)="handlerModal('onHidden', $event)">Batal</button>
                  <button type="button" [disabled]="errorUpload" (click)="save()" class="btn green">Simpan</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>

    <div class="modal fade bs-modal-sm" #modalLogin id="modaledit" tabindex="-1" role="basic" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">Aktif / Non-Aktif Komponen</h4>
          </div>
          <div class="modal-body">
            <p>
              <small>Silahkan login untuk memastikan pilihan anda!
              </small>
            </p>
            <div class="form-horizontal" role="form">
              <div class="form-body">
                <div class="form-group">
                  <label class="col-md-4 control-label">Username</label>
                  <div class="col-md-8">
                    <input type="text" class="form-control" placeholder="" inputFilter="int" [(ngModel)]="username">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-4 control-label">Password</label>
                  <div class="col-md-8">
                    <input type="password" class="form-control" placeholder=" " autocomplete="off"
                      [(ngModel)]="password">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn dark btn-outline" data-dismiss="modal">Batal</button>
            <button type="button" (click)="loadLogin()" class="btn green">OK</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>

    <div class="modal fade bs-modal-sm" #modalProsesKomp id="modalProsesKomp" tabindex="-1" role="basic" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">Ubah Status Pekerjaan</h4>
          </div>
          <div class="modal-body">
            <p>
            Rincian list proses komponen terpilih :
            </p>
            <div class="form-horizontal" role="form">
              <div class="form-body">
                <div class="form-group">
                  <label class="col-md-4 control-label">Jumlah Data : </label>
                  <div class="col-md-8">
                    <input type="text" disabled class="form-control" placeholder="" inputFilter="int" [(ngModel)]="itemEdit.length">
                  </div>
                </div>
                <div class="form-group" style="margin-left: 10%;">
                  <label class="radio-inline">
                    <input type="radio" [(ngModel)]="status" value="false">Belum Selesai
                  </label>
                  <label class="radio-inline">
                    <input type="radio" [(ngModel)]="status" value="true">Selesai
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn dark btn-outline" data-dismiss="modal">Batal</button>
            <button type="button" (click)="saveProsesKomponen()" data-dismiss="modal" class="btn green">OK</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
  </div>

</div>
<!-- END CONTENT BODY -->