#menu {
    padding-left: 3%;
   padding-top: 2.5%;
   padding-bottom: 2.5%;
}

#home {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 13%;
    background-color: #ffffff;
}

#logo {
    height: 75;
    width: 150px;
    overflow: auto;
}

