
<div class="background">
    <div id="home">
        <a [routerLink]="['/home']">
            <img id="logo" src="assets/patria.png">
        </a>
    </div>
    <div id="menu">
        <a [routerLink]="['/home']" class="nav-link">
            <span class="glyphicon glyphicon-home"></span> HOME 
        </a>
    </div>
    <div id="menu">
        <a [routerLink]="['/sorting']" class="nav-link">
            <span class="glyphicon glyphicon-home"></span> SORTING 
        </a>
    </div>
    <div id="menu">
        <a [routerLink]="['/komponen']" class="nav-link">
            <span class="glyphicon glyphicon-home"></span> KOMPONEN 
        </a>
    </div>
    <!-- <div id="menu">
        <a href="#">
            <span class="glyphicon glyphicon-home"></span> ETC
        </a>
    </div> -->
</div>
