<div id="header" *ngIf="route!='/login'">
    <a>
        <img src="assets/images/patria-logo.png" alt="logo" class="logo-default" width="200px" />
      </a>
      <div class="pull-right" (click)="logout()">LOGOUT</div>
    <!-- <h1>PATRIA</h1>
    <div>Leading Engineering</div> -->
</div>
<span id="overlayItem" class="loading" >
    <p id="msgOverlay"></p>
</span>
<div *ngIf="route!='/login'" class="page-wrapper">
    <div class="page-container">
        <!-- <scheduler-component></scheduler-component> -->
        <app-sidebar></app-sidebar>
        <router-outlet></router-outlet>
    </div>
</div>
<div *ngIf="route=='/login'">
    <app-login></app-login>
</div>